body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid: 1fr min-content / 1fr;
    row-gap: 7.5rem;
    place-items: center;
    background: hsl(212, 45%, 89%);
    padding: 8.5rem 2.8rem;
    font-family: "Outfit", sans-serif;
  }
  
  .card {
    width: 100%;
    max-width: 32rem;
    height: auto;
    padding: 1.6rem 1.6rem 4rem;
    background: white;
    border-radius: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.4rem;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  }
  
  .card__img {
    width: 100%;
    border-radius: 1rem;
  }
  
  .card__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  
  .card__heading {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    color: #1f314f;
  }
  
  .card__detail {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.019rem;
    line-height: 1.8rem;
    color: #7d889e;
    padding-inline: 1rem;
    text-align: center;
  }
